$primarycolor:#333;
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}
a{
    color:$primarycolor;
    &:hover{
        color: #A31925;
    }
}
h1{
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: $primarycolor;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    &:hover{
        color: #A31925;
    }
}
.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 50px -50px 0px -30px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 50px -50px 0px -30px rgba(0,0,0,0);
    &:hover{
        -webkit-box-shadow: 0px 0px 0px 5px #A31925, inset 0px 10px 27px -8px #A31925, inset 0px -10px 27px -8px #A31925, 50px -50px 0px -30px rgba(255, 0, 0, 0); 
        box-shadow: 0px 0px 0px 5px #A31925, inset 0px 10px 27px -8px #A31925, inset 0px -10px 27px -8px #A31925, 50px -50px 0px -30px rgba(255, 0, 0, 0);
    }

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform:translateX(0) ;
}
img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}

}
.content{ 
    height: 900px;
    width: 97%;
    border-radius: 20px; 
    overflow: hidden;
    margin: 10px; 
}
.tituloSlide{
    margin-top: 80px;
}
.navigation{
    position: relative;
    bottom: 50px;
    display: flex;
}
.bar{
    width: 70px;
    height: 25px;
    border: 2px solid #A31925;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    &:hover{
        background:#A31925;
    }
}

input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: .6s;
    img{
        width: 100%;
        height: 100%;
    }
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
 }
